
/* Element Sizing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  box-sizing: border-box;
  margin: 0px;
}

html {
  min-height: 100%;
  background-image: url(./img/BgLight.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/*--------------------------------------------------------------------------------*/
/* Default (will apply to smallest screen and larger unless overridden) */

.grid_template_main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 
    repeat(2, 1rem)
    minmax(auto, 1fr) 
    repeat(2, 1rem);
    /*minmax(1rem, 1fr) 
    minmax(1rem, 1fr);*/
  grid-template-rows: 
    minmax(auto, 1fr)
    minmax(60vh, 1fr)
    minmax(2vh, 5vh);
  grid-template-areas: 
    ". h h h ."
    ". . c . ."
    "f f f f f";
}

.grid_template_header {
  /* background-color: lightcoral; */
  grid-area: h;
  display: flex;
  justify-content: space-between;
}

.grid_template_header > h1 {
  align-self: center;
  font-size: 5vmin;
}
.grid_template_header > .navmenu {
  direction: rtl;
  align-self: end;
  padding-bottom: 1%;
}

.grid_template_header > .navmenu > ul {
  list-style-type: none;
}

.grid_template_content {
  /* background-color: grey; */
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid_template_content > a:hover{
  border:1px solid red;  
 }

.grid_template_footer {
  /* background-color: lightblue; */
  grid-area: f;
  display: flex;
  justify-content: space-between;
}


