
/* Element Sizing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  box-sizing: border-box;
  margin: 0px;
}

/*--------------------------------------------------------------------------------*/
/* Default (will apply to smallest screen and larger unless overridden) */

.grid_template_main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 
    repeat(2, 1rem)
    minmax(auto, 1fr) 
    repeat(2, 1rem);
    /*minmax(1rem, 1fr) 
    minmax(1rem, 1fr);*/
  grid-template-rows: 
    minmax(auto, 1fr)
    minmax(60vh, 1fr)
    minmax(2vh, 5vh);
  grid-template-areas: 
    ". h h h ."
    ". . c . ."
    "f f f f f";
}

.grid_template_header {
  background-color: lightcoral;
  grid-area: h;
  display: flex;
  justify-content: space-between;
}

.grid_template_header > h1 {
  align-self: center;
  font-size: 5vmin;
}
.grid_template_header > .navmenu {
  direction: rtl;
  align-self: end;
  padding-bottom: 1%;
}

.grid_template_header > .navmenu > ul {
  list-style-type: none;
}



.grid_template_content {
  background-color: grey;
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}




.grid_template_footer {
  background-color: lightblue;
  grid-area: f;
  display: flex;
  justify-content: space-between;
}




/*   TICKER */

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}