
/* Element Sizing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  box-sizing: border-box;
}

/*  BACKGROUND IMAGE */
html {
  min-height: 100%;
  background-image: url(./img/BgLight.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/*--------------------------------------------------------------------------------*/
/* Default Layout (will apply to smallest screen and larger unless overridden) */

.grid_template_main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 
    minmax(10px, 1fr)
    repeat(6, minmax(5px, 200px))
    minmax(10px, 1fr);
  grid-template-rows: 
    minmax(auto, 1fr)
    minmax(auto, 4fr)
    minmax(1rem, 1.5rem); 
  grid-template-areas: 
    ". h h h h h m ."
    ". c c c c c c ."
    "f f f f f f f f";
}
.grid_template_header { grid-area: h; }
.grid_template_footer { grid-area: f; }
.grid_template_content { grid-area: c; }
.grid_template_menu { grid-area: m; }



.navmenu_dropdown {
  position: relative;
  display: inline-block;
}
.navmenu_dropdown_button {
  width: 50px;
  border: 0;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}
.navmenu_dropdown_content {
  position: absolute;
  top: 100%;
  right: 100%;
  width: max-content;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
}

.navmenu_dropdown_content_list {
  list-style: none;
  padding: 5px;
  font-weight: bold;
  font-size: 2rem;
}

.navmenu_dropdown_content_list > li:hover {
  background-color: red;
  cursor: pointer;
}

/*

.navmenu_dropdown .navmenu_dropdown_button {
  font-size: 2rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;

.navmenu_dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  width: max-content;
  background-color: #f9f9f9;
  z-index: 2;
}

*/

.navmenu_dropdown:hover .navmenu_dropdown_content {
  display: flex;
  flex-direction: column;
}

/* Phone or Watch */
/* Small screen, non-retina */
@media only screen and (min-width: 480px) {
  
}

/* Small screen, retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 480px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (                min-resolution: 192dpi) and (min-width: 480px),
only screen and (                min-resolution: 2dppx)  and (min-width: 480px) { 

}


/* Tablet or Phone */
/* Medium screen, non-retina */
@media only screen and (min-width: 768px) {
  
}

/* Medium screen, retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px) { 

}


/* Large screen, non-retina */
@media only screen and (min-width: 1300px) {
  
}

/* Large screen, retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

}





/*  BUTTONS */

.home_signup_login_buttons {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.home_signup_login_buttons > a {
  padding: 4rem;
  border:1px solid #2e1803;  
  background-color: lightgrey;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50px 50px 50px 50px;

  -webkit-text-fill-color: #ff7d00; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #2e1803;
  -webkit-text-stroke-width: 0.075rem;

  transition: all 0.15s ease-in-out;
 }

.home_signup_login_buttons > a.welcome_SignUp {
  box-shadow: 0px 2px 10px #453629;
}
.home_signup_login_buttons > a.welcome_Login { 
  box-shadow: 0px 8px 10px #453629;
}
.home_signup_login_buttons > a:link {
  text-decoration: none;
}
.home_signup_login_buttons > a:visited {
    text-decoration: none;
  }
.home_signup_login_buttons > a:hover{
  text-decoration: underline;
  background-color: darkslategray;
}


/*  FORMS */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  border: 5px solid #2e1803;
  background-color: lightslategrey;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px -5px 10px #453629;
}
form > button {
  max-width: 75%;
  min-width: 25%;
  padding: 10px;
  font-size: 1.2rem;
  align-self: center;
  font-weight: bold;
  -webkit-text-fill-color: black;
  background-color: lightgray;
  border-radius: 25px 25px 25px 25px;
  transition: all 0.15s ease-in-out;
}
form > button:hover {
  text-decoration: underline;
  background-color: #ff7d00;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: bold;
  -webkit-text-fill-color: black;
}
input {
  height: 1.5rem;
  max-width: 100%;
  min-width: 25%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

 

/* FORMATTING */


.grid_template_header {
  display: flex;
  justify-content: space-between;

  font-family: "Comic Sans MS";
  font-weight: bolder;
  -webkit-text-fill-color: #ff7d00; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #2e1803;

  padding-top: 2rem;
  padding-bottom: 1rem;
}


.grid_template_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;

  background-color: #162116;
  
  font-family: "Garamond";
  color: white;
  font-size: 0.75rem;
}

.grid_template_header > h1 {
  align-self: flex-end;

  font-size: 4rem;
  -webkit-text-stroke-width: 0.2rem;

  text-shadow: -6px -5px 13px #453629;
}

.grid_template_menu {
  color: none;
  align-self: center;
  justify-self: end;
}


.grid_template_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  font-family: "Comic Sans MS";
  font-weight: light;
  -webkit-text-fill-color: #ff7d00; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #2e1803;
}

.grid_template_content > p {
  padding: 2rem;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  background-color: lightslategrey;
  border-radius: 30px 30px 30px 30px;
  
  box-shadow: 0px
   -5px 10px #453629;
}